{{!-- <h1>Trying</h1> --}}

{{#each rows}}
    <div class=" container sty">
        <li> {{todo_name }} </li>
        <button class="btn btn-primary"  style="float:right;">  DEL  </button>
        <button class="btn btn-primary"  style="float:right;">  EDIT  </button>  
    </div>
{{/each}}